{{- $os_id := .chezmoi.os -}}
{{- if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
    {{- $os_id = "wsl" -}}
{{- end -}}

{{- $has_desktop := false -}}

{{- if eq $os_id "linux" -}}
    {{- $has_desktop = promptBool "Install Desktop Environment (Sway/Waybar)?" true -}}
{{- end -}}

[data]
    email = {{ promptString "Email" "me@example.com" | quote }}
    os_id = {{ $os_id | quote }}
    has_desktop = {{ $has_desktop }}
