{{- $osID := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
    {{- $osID = .chezmoi.osRelease.id -}}
{{- end -}}
{{- $is_wsl := or (eq $osID "windows") (and (eq $osID "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}

[data]
email = {{ promptString "Email" "me@example.com" | quote }}
has_desktop = {{ promptBool "Install Desktop Environment (Sway/Waybar)?" (not $is_wsl) }}
