{{- $os_icon := "🐧" -}}
{{- if eq .os_id "windows" -}}
    {{- $os_icon = "🪟" -}}
{{- end -}}

# Disable all default modules
format = "(($python)) $directory$git_branch$git_status\n{{ $os_icon }} $character"

[directory]
truncation_length = 3
truncate_to_repo = true

[python]
format = '(\($virtualenv\))'
pyenv_version_name = false
